

.title {
  text-align: center;
}

.box {
  background-color: wheat;
  border-style: solid;
  border-color: black;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.pfp {
  position: relative;
  bottom: 40px;
  left: 10px;
  width: 100px;
  height: 100px;
}

.i {
  width: 100px;
  height: 100px;
  transition: all 2s linear 0s;
}

.i:hover {
  width: 300px;
  height: 300px;
}
