<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Core/board.css'%}" type="text/css">
  </head>
  <body>
    <div class="box" style="">
      <p style="text-align: center" class="align">Welcome to {{boardName}}!</p>
      <img class="pfp" src="/media/{{boardPic}}" style="width: 100px; height: 100px;">
      <p>{{boardDesc|linebreaksbr}}</p>
    </div>
    <br>
    {% if Posts %}
    {% for Post in Posts %}
    <div class="box">
      <table>
        <tr>
          <th><img src="/media/{{Post.Post_Photo}}" class="i"></th>
          <th><p>{{Post.Post_Text|linebreaksbr}}</p></th>
        </tr>
      </table>
    </div><br>
    {% endfor %}
    {% else %}
    <p class="center">No posts ;w;</p>
    {% endif %}
  </body>
</html>
