<html>
  <head>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static '/Core/homepage.css' %}">
  </head>
  <body>
    <h1 class="title">120chan</h1>
    <div class="box" style="width: 50%; margin: 0 auto;">
      <h4 class="title">120Chan!</h4>
      <p class="center">120 (or pychan) chan is a gay faggot site by a gay furfaggot. Its just like any chan board, horribe<br>Oh and its open sourced so you GNU cucks can suck that off nice and good ;3</p>
    </div>
  </body>
</html>
